#comments-section {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin-left: 10rem;
    gap: 1rem;
}

.comments-list {
    max-height: 400px;
    overflow-y: auto;
}

.comment-item {
    margin-bottom: 1rem;
}

.comment-author {
    margin: 0 1rem 0.25rem 0;
}

.comment-author strong {
    margin-left: 0.5rem;
}

.comment-author__image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.5rem;
}

.comment-author__icon {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: #d9d9d9;
    border-radius: 50%;
}


.comment-text {
    background-color: #d9d9d9;
    padding: 0.63rem;
    border-radius: 0.19rem;
    font-size: 0.8rem;
    color: #333;
    max-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.comment-form-group {
    flex-direction: column;
}

.comment-form-group label {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.comment-input {
    border: 0.06rem solid #5f5f5f;
    border-radius: 0.19rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    resize: none;
    box-shadow: none;
    outline: none;
}

.comment-input:focus {
    border: 0.1rem solid #477efe;
}
