.item-tabs-wrapper {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border-bottom: 2px solid #5f5f5f;
}

.item-tabs {
    list-style: none;
    padding: 0;
    margin-bottom: 0.25rem;
}

.item-tab:first-child {
    margin-left: 2rem;
}

.item-tab {
    margin-right: 1rem;
}

.item-link {
    text-decoration: none;
    color: #000000;
    padding: 0.25rem 1rem;
    transition: background-color 0.3s ease;
}

.item-link.active {
    font-weight: bold;
    color: #ff5555;
}

.item-link:hover {
    background-color: #f1f1f1;
}

.item {
    width: 85%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
}

.item-card {
    overflow: hidden;
    position: relative;
}

.item-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1;
}