/* プロフィール編集 */
.item-sell-container {
    width: 100%;
}

.item-sell__heading {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.item-sell {
    width: 100%;
    max-width: 30rem;
    min-width: 20rem;
    padding: 1rem 0;
    margin: 0 auto;
}

.item-sell__form {
    width: 100%;
}


.item-sell__image-container {
    width: 100%;
    margin-bottom: 3rem;
    /* padding: 1.5rem 10rem; */
}

.item-sell__image-title {
margin: 1rem;
font-size: 1rem;
font-weight: bold;
}

.item-sell__image-box {
    position: relative;
    flex-direction: column;
    width: 100%;
    /* max-width: 300px; */
    height: 12.5rem;
    border: 0.13rem dashed #9b9b9b;
    overflow: hidden;
}

.item-sell__image-display--preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.item-sell__image-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #ffffff;
    color: #ff5555;
    font-weight: bold;
    border: 0.15rem solid #ff5555;
    border-radius: 0.6rem;
    cursor: pointer;
}

.item-sell__image-label:hover {
    background-color: #ff5555;
    color: #ffffff;
    border: 0.15rem solid #ffffff;
    transform: 0.5s;
}

.item-sell__image-input {
    display: none;
}

.item-sell__group {
    width: 100%;
    padding: 1.5rem 0;
}

.item-sell__section {
    margin-bottom: 2rem;

}

.item-sell__section-title {
    font-size: 1.5rem;
    color: #5f5f5f;
    margin-bottom: 1rem;
    border-bottom: 0.13rem solid #9b9b9b;
}

.item-sell__field {
    margin-bottom: 0.75rem;
}

.item-sell__label {
    font-weight: bold;
}


/* .item-sell__group-label { */
    /* font-weight: bold; */
    /* text-align: left; */
/* } */

.item-sell__input {
    width: 100%;
    padding: 0.5rem;
    border: 0.06rem solid #5f5f5f;
    border-radius: 0.19rem;
}

.item-sell__input:focus {
    border: 0.13rem solid #5f5f5f;
}

.description-input {
    width: 100%;
    padding: 0.5rem;
    border: 0.06rem solid #5f5f5f;
    border-radius: 0.19rem;
    resize: none;
    overflow: hidden;
}
/* .profile-upload__link { */
/* display: block; */
/* text-align: center; */
/* font-size: 0.75rem; */
/* color: #308dd6; */
/* cursor: pointer; */
/* } */

/* .profile-upload__link:hover { */
/* color: #0b2a98; */
/* transform: scale(1.1); */
/* } */
/* textarea { */
    /* white-space: pre-wrap; */
    /* 改行を保持して表示 */
/* } */

.price-input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.currency-symbol {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

#price {
    padding-left: 25px;
    padding-right: 10px;
    font-size: 1.2em;
    width: 100%;
}

.item-sell__btn {
    margin: 2rem 0 1rem;
}