.item-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 2.5rem 1rem;
}

.item-detail__image-container,
.item-detail__info {
    max-width: 40%;
}

.item-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.item-detail__rating {
    gap: 2rem;
    align-items: center;
}

.rating-star,
.rating-comment {
    text-align: center;
}

.count {
    display: block;
    margin-top: 5px;
}

.rating-star .fa-star {
    color: #4b4b4b;
    cursor: pointer;
}

.rating-star .fa-solid {
    color: #FFD700;
}

.rating-comment .fa-comment {
    color: #4b4b4b;
    cursor: pointer;
}

.rating-comment .fa-comment:hover {
    opacity: 0.5;
}