@media screen and (max-width: 959px) {

    .header-nav {
        display: none;
    }

    #search-form input[type="text"] {
        width: 20rem;
        margin-right: 2rem;
    }

    /* ハンバーガーメニュー */
    .hamburger-menu {
        display: block;
    }

    .hamburger-menu {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        position: relative;
        transition: 0.4s;
        background-color: #000000;
        color: #ffffff;
        border-radius: 0.3rem;
        z-index: 20;
    }

    .hamburger-line {
        width: 100%;
        height: 0.25rem;
        background-color: #ffffff;
        margin: 0.5rem 0 0;
        transition: transform 0.4s, opacity 0.4s;
    }

    .hamburger-menu.active .hamburger-line:nth-child(1) {
        transform: translateY(0.75rem) rotate(45deg);
    }

    .hamburger-menu.active .hamburger-line:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .hamburger-line:nth-child(3) {
        transform: translateY(-0.75rem) rotate(-45deg);
    }

    .menu {
        display: none;
        display: block;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30vw;
        height: 100vh;
        background-color: #000000;
        text-align: center;
        padding-top: 15vh;
        transform: translateX(100%);
        transition: .5s;
    }

    .menu.active {
        transform: translateX(0);
    }

    .menu__item {
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin: 2rem 0;
    }

    .menu__item-btn--link {
        background: none;
        border: none;
        color: #ffffff;
        text-decoration: none;
        margin-top: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s;
    }

    .menu__item-link--btn {
        display: inline-block;
        background-color: #ffffff;
        color: #000000;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 0.25rem;
        text-align: center;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease, transform 0.2s;
    }

    .menu__item:hover,
    .menu__item-btn--link:hover {
        color: #308dd6;
        transform: scale(1.1);
    }

    .menu__item-link--btn:hover {
        background-color: #308dd6;
        color: #ffffff;
        transform: scale(1.1);
    }

    .item-tab:first-child {
        margin-left: 1rem;
    }

    #items-list .item {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1.5rem;
    }

    #search-results .item {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1.5rem;
    }

        .item-detail {
            flex-direction: column;
            /* 縦並びに変更 */
            align-items: center;
            padding: 0;
            /* 中央寄せ */
            gap: 1rem;
            /* 要素間の間隔を調整 */
        }

    .item-detail__image-container {
        width: 100%;
        /* 画像を親要素に合わせる */
        height: auto;
        /* 高さを自動調整 */
        max-width: 300px;
        /* 最大幅を指定 */
    }

    .item-detail__info {
        max-width: 100%;
        margin-left: 0;
    }

    #comments-section {
        max-width: 100%;
        margin-left: 0rem;
    }

    .main {
        /* margin: 8rem auto; */
    }

    .align-items-center {
        /* align-items: flex-start; */
    }

    .search {
        /* margin-top: 1rem; */
    }

    .mypage {
        flex-direction: column;
    }

    .status {
        width: 100%;
    }

    .status__card {
        width: 100%;
    }
}


@media (max-width: 768px) {

    html {
        font-size: 14px;
    }

    .header {
        flex-direction: column;
        padding: 2rem;
        height: 8rem
    }

    .fixed-height {
        padding: 1rem;
        height: 3.5rem;
    }

    .header-logo {
        margin-bottom: 0.5rem;
    }

    #search-form input[type="text"] {
        width: 15rem;
        margin: 0.4rem 2rem 0 1rem;
    }

    .header__container {
        margin-left: 0;
        padding-bottom: 3rem;
    }

    .hamburger-label {
        top: 4rem;
    }

    .header-nav {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        transform: none;
    }

    .hamburger-input:checked~.header-nav {
        left: 0;
        transform: translate(0, -50%);
    }

    .main {
        margin: 8rem auto;
    }

    .main-range {
        width: 85%;
        margin: 3.5rem auto;
        padding: 2.5rem 0;
    }

    #items-list .item {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1.5rem;
    }

    #search-results .item {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1.5rem;
    }

    
}